@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    @apply w-2.5 h-2.5;
  }
  
  ::-webkit-scrollbar-track {
    @apply bg-slate-900/50;
  }
  
  ::-webkit-scrollbar-thumb {
    @apply bg-slate-500/50 rounded-full hover:bg-slate-500/70;
  }

  body {
    @apply antialiased overflow-x-hidden;
  }
}